table, tr, td{
    border: 2px solid rgb(28, 0, 104);
    border-color: blue ;
    border-collapse: collapse ;
    /* border-spacing: 0px; */
}
table, tr, th{
    border: 1px solid rgb(2, 121, 91);
    border-color: gray ;
   
}
th{
    color: goldenrod;
    font-family: "Book Antiqua";
    font-style: initial;
    padding: 3px;

}
td{
    color: rgb(47, 0, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
}
.zajety{
    color: rgb(15, 15, 15);
    background-color: rgb(4, 250, 78);
}
.wolny{
    background-color: rgb(87, 88, 88);
}
table{
    margin: auto;
}
